<h2>Bienvenido a Cibertec Demo</h2>
@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success">@ViewBag.Mensaje</div>
}
<p>
    <a href="/Account/Register" class="btn btn-primary">Registrarse</a>
    <a href="/Account/Login" class="btn btn-secondary">Iniciar sesión</a>
</p>
