<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POOII_cibertec_demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/POOII_cibertec_demo.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-dark text-white p-3">
        <div class="container d-flex justify-content-between">
            <h3>Cibertec Demo</h3>
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="me-3">Hola, @User.Identity.Name</span>
                    <a class="btn btn-outline-light btn-sm" href="/Account/Logout">Cerrar sesión</a>
                }
                else
                {
                    <a class="btn btn-outline-light btn-sm" href="/Account/Login">Login</a>
                    <a class="btn btn-success btn-sm ms-2" href="/Account/Register">Registro</a>
                }
            </div>
        </div>
    </header>
    <main class="container mt-4">
        @await Html.PartialAsync("_MessagePartial")
        @RenderBody()
    </main>

    <footer class="bg-light p-3 mt-4">
        <div class="container text-center">
            Hecho con ♥ por Bryant para POOII-2025-2
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
